extends ./layout/index

block slider
    .slider 
       h1 Rio de Janeiro
       em adventure

block contenido 
    main.container.mt-5
        h2.text-center.mb-5 US
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod tempus ipsum rhoncus varius. Nullam consectetur tortor ut magna gravida, fringilla accumsan ante fermentum. Suspendisse aliquam hendrerit dolor id ornare. Morbi pharetra tristique accumsan. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod tempus ipsum rhoncus varius. Nullam consectetur tortor ut magna gravida, fringilla accumsan ante fermentum. Suspendisse aliquam hendrerit dolor id.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="image us" class="img-fluid")
        include ./layout/travelsBlock
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        P.precio $2,500 USD
    .container
        h2.mt-5.text-center Testimoniales 
        include ./layout/testimonialsBlock