footer.container.py-5
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a.nav-link(href="/us") Nosotros
                a.nav-link(href="/travels") Viajes
                a.nav-link(href="/testimonials") Testimoniales
        .col
            p.copyright.text-center.text-md-right 
                |  Todos los derechos reservados
                span= nowYear